/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Responsive Framework CSS Rules Start                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 420px) {
.mainMenuWrapper {
	padding-right: 24px;
	padding-left: 36px;
}
.mainMenuWrapper > li {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.mainMenuWrapper > li:nth-child(odd) {
	margin-left: -12px;
}
.mainMenuWrapper > li:nth-child(even) {
	margin-left: 12px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Responsive Framework CSS Rules End                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
